body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e9f3ff;
    margin: 0;
    padding: 0;
}

header {
  background-color: #0074cc;
  color: white;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  margin-left: calc(-50vw + 50%);
  text-align: center;
}


header h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


main {
    padding: 30px;
}

h2 {
    color: #005fa3;
}

ul {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: fit-content;
}  

section.box{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: fit-content;
    box-shadow: 0px 2px 10px black;
    margin: 1px auto ;
}

li a{
  color: blue;
  font-family:'Courier New', Courier, monospace;
  transition: 0.5s;
}

a:hover {
  color: rgb(160, 0, 0);
  text-decoration: underline;
} 


footer {
  background-color:#0074cc;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  margin-top: 30px;
}

h3 {
  font-family:'Courier New', Courier, monospace;
}